swagger: '2.0'
info:
  title: Notes API
  description: Provides operations for notes that advisors have made on students.
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/notes-api
produces:
  - application/json
paths:
  /notes:
    parameters:
      - $ref: '#/parameters/authorization'
    get:
      summary: Get notes for a student
      tags:
        - notes
      operationId: getNotes
      parameters:
        - name: studentID
          in: query
          type: string
          required: true
          description: 9-digit OSU ID of student whose notes will be retrieved
        - name: q
          in: query
          type: string
          required: false
          description: Query string to be used when searching through the contents of each note
        - name: sortKey
          in: query
          type: string
          enum:
            - 'lastModified'
            - 'source'
            - 'permissions'
            - 'contextType'
          default: 'lastModified'
          required: false
          description: The key by which to sort the notes in the response
        - name: sources
          in: query
          type: array
          items:
            type: string
            enum: &SOURCES
              - 'advisorPortal'
              - 'banner'
              - 'degreeWorks'
            collectionFormat: csv
          required: false
          description: A comma-separated list of sources to filter by
        - name: contextTypes
          in: query
          type: array
          items:
            type: string
            collectionFormat: csv
          required: false
          description: A comma-separated list of context types to filter by
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/NotesResult'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    post:
      summary: Create a new note
      tags:
        - notes
      operationId: postNotes
      parameters:
        - in: body
          name: requestBody
          schema:
            type: object
            properties:
              note:
                $ref: '#/definitions/note'
              studentID:
                $ref: '#/definitions/studentID'
              creatorID:
                $ref: '#/definitions/creatorID'
              permissions:
                $ref: '#/definitions/permissions'
              context:
                $ref: '#/definitions/context'
            required:
              - note
              - studentID
              - creatorID
      responses:
        201:
          description: Successfully created a note
          schema:
            $ref: '#/definitions/NoteResult'
          headers:
            Location:
              type: string
              format: url
              description: Location of the newly created resource
        400:
          description: Invalid note object
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
  /notes/{noteID}:
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/noteID'
    get:
      summary: Get a note by its noteID
      tags:
        - notes
      operationId: getNoteByID
      responses:
        200:
          description: Successfully retrieved note
          schema:
            $ref: '#/definitions/NoteResult'
        404:
          description: Note with this noteID not found
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    patch:
      summary: Edit an existing note
      tags:
        - notes
      operationId: patchNoteByID
      parameters:
        - in: body
          name: requestBody
          schema:
            type: object
            properties:
              note:
                $ref: '#/definitions/note'
              permissions:
                $ref: '#/definitions/permissions'
      responses:
        200:
          description: Successfully updated the note
          schema:
            $ref: '#/definitions/NoteResult'
        400:
          description: Invalid patch body
          schema:
            $ref: '#/definitions/Errors'
        404:
          description: Note not found
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    delete:
      summary: Delete an existing note
      tags:
        - notes
      operationId: deleteNoteByID
      responses:
        204:
          description: Successfully deleted the note
        404:
          description: Note not found
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
parameters:
  noteID:
    name: noteID
    in: path
    type: string
    required: true
    description: A unique ID of a note concatenating the student ID that the note is for with a random string
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  NoteResource:
    properties:
      id:
        $ref: '#/definitions/noteID'
      type:
        type: string
        enum:
          - note
      attributes:
        type: object
        properties:
          note:
            $ref: '#/definitions/note'
          studentID:
            $ref: '#/definitions/studentID'
          creatorID:
            $ref: '#/definitions/creatorID'
          source:
            $ref: '#/definitions/source'
          permissions:
            $ref: '#/definitions/permissions'
          context:
            $ref: '#/definitions/context'
          dateCreated:
            $ref: '#/definitions/dateCreated'
          lastModified:
            $ref: '#/definitions/lastModified'
      links:
        $ref: '#/definitions/SelfLink'
  NoteResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/NoteResource'
  NotesResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/NoteResource'
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
  Error:
    properties:
      status:
        type: string
        description: HTTP status code
        example: 123
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: 1234
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  Errors:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  noteID:
    type: string
    description: A unique ID of a note concatenating the student ID that the note is for with an integer
    example: 123456789-123
  note:
    type: string
    maxLength: 150
    description: The contents of the note
  studentID:
    type: string
    pattern: ^\d{9}$
    description: The 9-digit OSU ID of the student who the note is on
    example: '123456789'
  creatorID:
    type: string
    pattern: ^\d{9}$
    description: The 9-digit OSU ID of the advisor who created the note
    example: '987654321'
  source:
    type: string
    enum: *SOURCES
    description: The data source of the note
  permissions:
    type: string
    enum:
      - 'advisor'
      - 'advisors'
      - 'student'
    default: 'advisor'
    description: "A string that defines the permissions of who can view the note. 'advisor' indicates that only
      the advisor who created the note may view it. 'advisors' indicates that all advisors can view the note.
      'student' indicates that all advisors as well as the student who the note is on may view the note."
  context:
    type: object
    properties:
      contextType:
        type: string
        description: The context type of the note
        example: 'course'
      contextID:
        type: string
        description: The context id of the note
        example: 'CS-101'
    required:
      - contextType
      - contextID
  dateCreated:
    type: string
    format: date-time
    description: The original date that the note was created
    example: '2017-07-21T17:32:28Z'
  lastModified:
    type: string
    format: date-time
    description: The date that the note was last modified. If this value is the same as dateCreated, no edits
      have been made to the note.
    example: '2017-07-21T17:32:28Z'
