server:
  protocol: https
  hostname: ${API_HOSTNAME}
  port: ${PORT}
  adminPort: ${ADMIN_PORT}
  basePathPrefix: /api
  keyPath: /path/to/key.pem
  certPath: /path/to/server.crt
  secureProtocol: TLSv1_2_method

authentication:
  username: ${USER}
  password: ${PASSWD}

logger:
  size: 10m
  path: logs
  pattern: YYYY-MM-DD
  archive: true

api:
  # Valid options are "aws" and "local"
  dataSource: aws
  awsBucket: {AWS_BUCKET}
  dbDirectoryPath: {DB_PATH}

aws:
  apiVersion: '2006-03-01'
  accessKeyId: ${ACCESS_KEY_ID}
  secretAccessKey: ${SECRET_ACCESS_KEY}
  region: us-west-2
  # These values are for testing on local or proxy S3 instances
  endpoint: null
  s3ForcePathStyle: false
